/* Add application styles & imports to this file! */

.boxed {
   background-color: gray ;
 color:white;
  border: 1px solid gray ;
  width: 30px;
    background-position: left top;
  background-repeat: repeat;
  border-radius: 8px;
  height:25px;
  display: inline;
}